// Override variables before import:

// TODO set dark/secondary color to #151515 (for Snipcart background for example)

$global-font-family: 'Droid Sans', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$base-body-background: #ffffff;
$navbar-background: #151515;
$navbar-border: none;
$navbar-nav-item-active-color: #ffffff;
$navbar-dropdown-nav-item-active-color: #ffffff;
$border-rounded-border-radius: 0;
$global-primary-background: #589463;
$inverse-global-color: rgba(#fff, 0.85);
$inverse-breadcrumb-item-color: $inverse-global-color;

@import '@atelierfabien/next-base/src/styles/main.scss';

@import './purged/theme.scss';
@import './purged/responsive.scss';

.tm-product-info {
  border-left: 0 !important;
}

.uk-navbar-right {
  margin-right: $margin-margin;
}

.uk-navbar-container [class^='ion-'],
.tw-hover .tw-hover-inner i {
  font-size: 1.5em;
}

.uk-slideshow-items {
  background: #151515;
}

.uk-slideshow-items,
.uk-slider-items {
  * {
    user-select: none;
  }
}

.uk-height-small-min {
  min-height: $height-small-height;
}

.uk-height-medium-min {
  min-height: $height-medium-height;
}

.uk-height-large-min {
  min-height: $height-large-height;
}

[data-overlay] .uk-dotnav {
  position: relative;
  z-index: 20;
}

[data-overlay] {
  background-color: #151515;
  z-index: 0;
}

.entry-post .more-link {
  margin-top: 0;
}

.tw-background {
  background-color: #151515;
}

.tw-main-menu,
.tw-secondary-menu {
  text-transform: uppercase;
  letter-spacing: 0.2em;

  .uk-navbar-dropdown {
    background-color: #151515;
    padding: 14px 18px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  a {
    font-size: 12px;
  }

  .uk-navbar-dropdown-nav {
    font-size: 12px;

    a {
      color: rgba(255, 255, 255, 0.7);
    }

    a:hover {
      color: #ffffff;
    }
  }
}

.comment-list .comment-text.comment-plain {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 0;
  min-height: 70px;
  border-top: 1px solid #e6e6e6;
}

.tw-modal-container-video .uk-modal-dialog {
  width: 100%;
}

.sidebar-area .widget-item.tm-search-wide {
  width: 100%;
}

.sidebar-area .cat-item.uk-active a {
  font-weight: bold;
}
