// Override variables before import:

$global-font-family: 'Droid Sans', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$base-body-background: #ffffff;
$navbar-background: #151515;
$navbar-border: none;
$navbar-nav-item-active-color: #ffffff;
$navbar-dropdown-nav-item-active-color: #ffffff;
$border-rounded-border-radius: 0;

$global-primary-background: #69a228;
$global-success-background: $global-primary-background;
$global-warning-background: #bb5d16;
$global-danger-background: #8a1c1c;

$base-em-color: #666;
$inverse-global-color: rgba(#fff, 0.85);
$inverse-breadcrumb-item-color: $inverse-global-color;

// NOTE - these might be defined in the opposite way:

$dotnav-item-background: rgba(#fff, 0.4);
$dotnav-item-hover-background: rgba(#fff, 0.8);
$dotnav-item-onclick-background: rgba(#fff, 0.4);
$dotnav-item-active-background: rgba(#fff, 0.8);

$inverse-dotnav-item-background: rgba(#151515, 0.5);
$inverse-dotnav-item-hover-background: rgba(#151515, 0.9);
$inverse-dotnav-item-onclick-background: rgba(#151515, 0.5);
$inverse-dotnav-item-active-background: rgba(#151515, 0.9);

@import '@atelierfabien/next-base/src/styles/main.scss';

@import './purged/theme.scss';
@import './purged/responsive.scss';

form[data-provider] .uk-input {
  width: 300px;
}

.uk-light .uk-form-icon {
  color: $form-icon-color;
}

.uk-light .uk-form-icon:hover {
  color: $form-icon-hover-color;
}

.uk-navbar-item.uk-logo .tm-logo {
  margin-left: 15px;

  @media (max-width: $breakpoint-small) {
    width: 160px;
  }
}

.uk-button.uk-button-primary {
  border-color: $global-primary-background;
}

.uk-button.uk-button-radius[disabled] {
  opacity: 0.4;
}

.tm-section-intro + .tm-section-columns {
  padding-top: 20px;
}

.tm-product-info {
  border-left: 0 !important;
}

.shop-image-container {
  background: $global-muted-background;
}

.uk-navbar-right {
  margin-right: $margin-margin;
}

.uk-navbar-container [class^='ion-'],
.tw-hover .tw-hover-inner i {
  font-size: 1.5em;
}

[data-region-type] .uk-slideshow-items {
  background: #151515;
}

.uk-slideshow-items,
.uk-slider-items {
  * {
    user-select: none;
  }
}

.uk-height-small-min {
  min-height: $height-small-height;
}

.uk-height-medium-min {
  min-height: $height-medium-height;
}

.uk-height-large-min {
  min-height: $height-large-height;
}

[data-overlay] .uk-dotnav {
  position: relative;
  z-index: 20;
}

[data-overlay] {
  background-color: #151515;
  z-index: 0;
}

.entry-post .more-link {
  margin-top: 0;
}

.tw-background {
  background-color: #151515;
}

.tw-carousel-post .post-intro {
  min-height: 100px;
}

.tw-main-menu,
.tw-secondary-menu {
  text-transform: uppercase;
  letter-spacing: 0.12em;

  .uk-navbar-dropdown {
    background-color: #151515;
    padding: 14px 18px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
  }

  a {
    font-size: 12px;
  }

  .uk-navbar-dropdown-nav {
    font-size: 12px;

    a {
      color: rgba(255, 255, 255, 0.7);
    }

    a:hover {
      color: #ffffff;
    }
  }
}

.comment-list .comment-text.comment-plain {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 0;
  min-height: 70px;
  border-top: 1px solid #e6e6e6;
}

.tw-modal-container-video .uk-modal-dialog {
  width: 100%;
}

.sidebar-area .widget-item.tm-search-wide {
  width: 100%;
}

.sidebar-area .cat-item.uk-active a {
  font-weight: bold;
}

.shop-image-container > a,
.tm-recipe img {
  border: solid $global-border-width $global-muted-background;
}

ul.uk-list-divider > :first-child {
  border-top: $list-divider-border-width solid $list-divider-border;
  padding-top: $list-divider-margin-top;
}

@media (max-width: $breakpoint-small) {
  .tm-consults.tw-carousel-post.style-2 .post-content {
    padding: 30px;
  }
}

@media print,
  (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
  ul.tm-list-columns {
    column-count: 2;
  }

  ul.tm-list-columns > li {
    margin: 0 !important;
    display: inline-block;
    width: 100%;
  }

  ul.tm-list-columns > :first-child,
  ul.tm-list-columns > :nth-child(n + 2) {
    padding-top: $list-divider-margin-top;
    padding-bottom: $list-divider-margin-top;
    border-top: $list-divider-border-width solid $list-divider-border;
    @if (mixin-exists(hook-list-divider)) {
      @include hook-list-divider();
    }
  }
}

@media print {
  .no-page-break,
  .no-page-break .tw-meta {
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .no-page-break .tw-meta {
    margin-top: 30px;
  }

  .uk-offcanvas-page,
  .uk-offcanvas-container,
  .uk-offcanvas.uk-open .uk-offcanvas-bar {
    overflow: visible !important;
  }

  .uk-offcanvas-container .uk-offcanvas.uk-open {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
  }

  .tm-page-header,
  .tm-page-footer,
  .uk-breadcrumb,
  .uk-offcanvas-container .tm-page,
  .uk-offcanvas-container .uk-offcanvas.uk-open .uk-close {
    display: none;
  }

  .tm-recipe-sidebar {
    margin-top: 30px;
  }

  // To disable printing of recipes, enable this:
  //
  // .tm-recipe {
  //   display: none !important;
  //   visibility: hidden !important;
  //   overflow: hidden !important;
  //   height: 0 !important;
  // }
}
